{% extends "h:templates/layouts/admin.html.jinja2" %}

{% from '../includes/search_form.html.jinja2' import search_form %}

{% set page_id = 'registrations' %}
{% set page_title = 'Registrations' %}

{% block content %}

  {% if error %}
   <div style="color: red">
   {{ error }}
   </div>
  {% endif %}

  {{ search_form('Search by name…', request.params.get('q')) }}

  <form class="flex search-form">
    <div>
      <div> Start date </div>
      <input type="date"
            class="form-input__input"
            name="start_date"
            value="{{ request.params.get('start_date') or '' }}">
    </div>
    <div>
      <div> End date </div>
      <input type="date"
            class="form-input__input"
            name="end_date"
            value="{{ request.params.get('end_date') or '' }}">
    </div>
    <button class="btn search-form__submit-btn" type="submit">
      Search
    </button>

  </form>


  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Profile</th>
          <th>Account</th>
          <th>Create Date</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Date of birth</th>
          <th>Gender</th>
          <th>Length</th>
          <th>Class Location</th>
          <th>Class Day</th>
          <th>Class Time</th>
          <th>Class Level</th>
          <th>Memeo</th>
        </tr>
      </thead>
      <tbody>
        {% for org in results %}
          <tr>
            <td>
              {% set edit_url = request.route_url('admin.registrations_edit', id=org.id) %}
              <a href="{{ edit_url }}">{{ org.id }}</a>
            </td>
            <td>
              {% if org.profile_id %}
                <a href="{{ request.route_url('admin.registrations_profile', id=org.id) }}">&#10004;</a>
              {% else %}
                <a href="{{ request.route_url('admin.registrations_profile', id=org.id) }}">&#10006;</a>
              {% endif %}
            </td>
            <td>
              {% if org.user %}
                <a href="{{ request.route_url('admin.users', id=org.id) }}">&#10004;</a>
              {% else %}
                <a href="{{ request.route_url('admin.registrations_profile', id=org.id) }}">&#10006;</a>
              {% endif %}
            </td>
            <td>
              {{ org.created.date() }}
            </td>
            <td>
              {{ org.last_name }}
            </td>
            <td>
              {{ org.first_name }}
            </td>
            <td>
              {{ org.date_of_birth.date() }}
            </td>
            <td>
              {{ org.gender }}
            </td>
            <td>
              {{ org.term }}
            </td>
            <td>
              {{ org.abbreviation }}
            </td>
            <td>
              {{ org.day }}
            </td>
            <td>
              {{ org.start_time  }}
            </td>
            <td>
              {{ org.level }}
            </td>
            <td>
              <a href="{{ edit_url }}">{{ org.memeo }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include "h:templates/includes/paginator.html.jinja2" %}
{% endblock %}
