{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'registration_term_options_create' %}
{% set page_title = 'Create registration term option' %}

{% block content %}
  {{ form }}
{% endblock %}
