{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'registration_source_options_create' %}
{% set page_title = 'Create registration source option' %}

{% block content %}
  {{ form }}
{% endblock %}
